# My First Multiple Linear Regression Model using StatsModel

In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [6]:
df = pd.read_csv("auto_mpg.csv")
df.head()

   cyl   disp   hp  weight   acc  year  origin   mpg
0    8  307.0  130    3504  12.0    70       1  18.0
1    8  350.0  165    3693  11.5    70       1  15.0
2    8  318.0  150    3436  11.0    70       1  18.0
3    8  304.0  150    3433  12.0    70       1  16.0
4    8  302.0  140    3449  10.5    70       1  17.0

In [14]:
X = df[['cyl','disp','hp','weight','acc','year','origin']]
X.head()

   cyl   disp   hp  weight   acc  year  origin
0    8  307.0  130    3504  12.0    70       1
1    8  350.0  165    3693  11.5    70       1
2    8  318.0  150    3436  11.0    70       1
3    8  304.0  150    3433  12.0    70       1
4    8  302.0  140    3449  10.5    70       1

In [15]:
y = df['mpg']
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [16]:
X = sm.add_constant(X)
X.head()

   const  cyl   disp   hp  weight   acc  year  origin
0    1.0    8  307.0  130    3504  12.0    70       1
1    1.0    8  350.0  165    3693  11.5    70       1
2    1.0    8  318.0  150    3436  11.0    70       1
3    1.0    8  304.0  150    3433  12.0    70       1
4    1.0    8  302.0  140    3449  10.5    70       1

In [17]:
model1 = sm.OLS(y, X).fit()

In [20]:
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.821
Model:                            OLS   Adj. R-squared:                  0.818
Method:                 Least Squares   F-statistic:                     252.4
Date:                Fri, 02 Dec 2022   Prob (F-statistic):          2.04e-139
Time:                        17:04:09   Log-Likelihood:                -1023.5
No. Observations:                 392   AIC:                             2063.
Df Residuals:                     384   BIC:                             2095.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -17.2184      4.644     -3.707      0.000     -26.350      -8.087
cyl           -0.4934      0.323     -1.526      0.128      -1.129       0.142
disp           0.0199      0.008      2.647      0.008       0.005       0.035
hp            -0.0170      0.014     -1.230      0.220      -0.044       0.010
weight        -0.0065      0.001     -9.929      0.000      -0.008      -0.005
acc            0.0806      0.099      0.815      0.415      -0.114       0.275
year           0.7508      0.051     14.729      0.000       0.651       0.851
origin         1.4261      0.278      5.127      0.000       0.879       1.973
==============================================================================
Omnibus:                       31.906   Durbin-Watson:                   1.309
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.100
Skew:                           0.529   Prob(JB):                     2.95e-12
Kurtosis:                       4.460   Cond. No.                     8.59e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.59e+04. This might indicate that there are
strong multicollinearity or other numerical problems.